@import 'reset';

h1, h2, h3, p, a, span, div, input, label {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
h1 {
  font-size: 4.5em;
  font-weight: 700;
}
h2 {
  font-size: 1.8em;
  font-weight: 300;
}

/* Landng Page */
.subtitle {
  font-family: 'Advent Pro', 'Catamaran', Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}
.title {
  font-family: 'Catamaran', 'Open Sans', Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Loading Spinner */
.blinkAnimation {
  animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
